<h2>Leaderboard</h2>

<table>
  <tr>
    <th>Team</th>
    <th>Wins</th>
    <th>Losses</th>
  </tr>
  <% @sorted_teams.each do |team| %>
    <tr>
      <td><a href=“/teams/<%= team %>”><%= team %></a></td>
      <td><%=@team_records[team][0]%></a></td>
      <td><%= @team_records[team][1] %></a></td>
    </tr>
  <% end %>
</table>

